.trainer-card {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  overflow: visible;
}

.text-line {
  font-size: 29px;
  font-family: monospace;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; 
}

.text-line span {
  opacity: 0.5;
}

.text-line span.active {
  opacity: 1;
  border-bottom: 2px solid #3f51b5;
}

.text-line span.space {
  color: #999;
}

.input {
  width: 100%;
  margin-bottom: 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: 500;
}


.theme-button {
  margin-top: 5px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
      &:hover {
      background-color: #303f9f;  
    }

}
.footer-image {
  width: 100%;
  height: 450px;                 
  background-image: url("/oguzok.jpg");
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;           
}


.controls {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start; 
  gap: 12px;
  margin-bottom: 10px;
  button {
    background-color: #3f51b5;   
    color: #fff;                  
    font-size: 15px;              
    padding: 8px 16px;         
    border-radius: 8px;        
    border: none;               
    cursor: pointer;              
    transition: 0.3s;          
    
    &:hover {
      background-color: #303f9f;  
    }
  }
}
.refresh-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;

  &:hover {
    background-color: #29802e;
  }
}
