mat-card {
max-width: 600px;
margin: 40px auto;
padding: 24px;
}



.text-line {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}

.input {
  width: 100%;
  margin-top: 16px;
}


.stats {
display: flex;
justify-content: space-between;
margin-top: 16px;
}


.full {
width: 100%;
}