<mat-card class="trainer-card">
  
  <ng-container *ngIf="!finished; else result">
    <button class="theme-button" (click)="toggleTheme()">
      {{ isDarkTheme ? 'Светлая тема ☀️' : 'Темная тема 🌛' }}
    </button>
    <div class="controls">
      <button mat-raised-button color="primary" (click)="toggleLanguage()">
        {{ currentLanguage === 'en' ? 'Русский 🏠' : 'English 🗽' }}
      </button>


      <button class="refresh-button" (click)="startNewText()">
        Новый текст 🔄️
      </button>
    </div>
      <app-audio-player></app-audio-player>


    
    <div class="text-line">
      <span
        *ngFor="let char of visibleChars; let i = index"
        [class.active]="i === 0"
        [class.space]="char === ' '">
        {{ char === ' ' ? '␣' : char }}
      </span>
    </div>

    <mat-form-field appearance="outline" class="input">
      <input
        matInput
        [formControl]="form.controls.input"
        autocomplete="off"
        autofocus
      />
    </mat-form-field>

    <mat-progress-bar
      mode="determinate"
      [value]="progress">
    </mat-progress-bar>

    <div class="stats">
      <span>Скорость 🥵: {{ wpm }}</span>
      <span>Ошибки 👨‍🏫: {{ errors }}</span>
    </div>

  </ng-container>

  <ng-template #result>
    <h2>Результат</h2>
    <p>Скорость: <b>{{ wpm }} WPM</b></p>
    <p>Ошибки: <b>{{ errors }}</b></p>

    <button mat-raised-button color="primary" (click)="restart()">
      Заново
    </button>
  </ng-template>
  <div class="footer-image"></div>

</mat-card>
