mat-card {
max-width: 600px;
margin: 40px auto;
padding: 24px;
}


.text {
font-size: 20px;
margin-bottom: 16px;
}


.stats {
display: flex;
justify-content: space-between;
margin-top: 16px;
}


.full {
width: 100%;
}