.footer-image {
  width: 100%;                 
  height: 200px;               
  background-image: url('assets/oguzok.jpg');
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;           
}